*{
    margin: 0px;
    padding: 0px;
    font-family: 'roboto', sans-serif;
}

body{
    width: 100%;
    height: 100%;
    background-color: white;
    background-image: url(../img/background.jpg);
    background-size: cover;

}

#up{
    background-color: black;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

.tittle{
    text-align: center;
    background-color: rgba(255,255,255, 0.3);
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 30px;
    letter-spacing: 1.5px;
   
}

.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 5rem;
    
}

.container .card{
    width: 300px;
    height: 580px;
    border-radius: 16px 16px 3px 3px;
    margin: 20px;
    text-align: center;
    background-color: #8a776e;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
   
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.6);
}
.container .backgr{
    width: 100%;
    height: 194px;
    border-radius: 16px 16px 3px 3px;
}

.container .logo{
    width: 160px;
    height: 160px;
    position: absolute;
    margin-top: -4.5rem;
    margin-left: -5.2rem;
    
}

.container h2{
    text-align: center;
    padding-top: 5rem;
    word-spacing: 5px;
    letter-spacing: 1.5px;
}

.container p{
    text-align: left;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.continer .text{
    margin-bottom: 1rem;
}

.footer{
    margin-top: 17rem;
    color: white;
    background-color: rgba(255,255,255, 0.3);
    text-align: center;
}

button{
    border-radius: 12px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: none;
    font-weight: 600;
    background-color: rgba(255,255,255, 0.3);
    color: white;
}

button:hover{
    color: #4d0303
}

#tony{
    margin-top: 50px;
    background-color: #080707
}

#natasha{
    margin-top: 30px;
    background-color: #080707 ;
}

#steve{
    margin-top: 30px;
    background-color: #080707;
    
}



